pre,
code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
  color: #cccccc;
  span {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
  }
}
code > * {
  color: #cccccc;
}

.contenerdor-ejemplo-boton-flotante {
  position: relative;
  min-height: 88px;
  width: 100%;

  .contenedor-boton-flotante {
    position: absolute;
  }
}

.overflow-hidden {
  overflow: hidden;
}
